/1C_EDT/
/BTScaner/.vs/
/BTScaner/ARM/
/BTScaner/ARM64/
/BTScaner/x64/
/BTScaner/x86/
/android/app/build/
/android/app/.cxx/
/androidOnlyDriver/app/build/
/androidOnlyDriver/app/.cxx/
*.so
*.apk
/Release/*.zip
