/1C_EDT/
/BTScanerNative/.vs/
/BTScanerNative/ARM/
/BTScanerNative/ARM64/
/BTScanerNative/x64/
/BTScanerNative/x86/

/BTScanerDriver/.vs/
/BTScanerDriver/ARM/
/BTScanerDriver/ARM64/
/BTScanerDriver/x64/
/BTScanerDriver/x86/

/androidTest/app/build/
/androidTest/app/.cxx/
/androidNative/app/build/
/androidNative/app/.cxx/
/androidDriver/app/build/
/androidDriver/app/.cxx/

*.so
*.apk

/Release/Driver/*.*
/Release/Native/*.*
/Release/Test/*.*

